<div class="card">
    <div class="card-body">
        <h5 class="card-title">¿Qué son los comics?</h5>
        <p class="card-text mt-3">Son un medio visual de narración verbo-icónica que comunica historias de uno o varios
            personajes. Se trata de una “narración secuencial mediante imágenes fijas”. Es decir, mediante una sucesión
            de imágenes (compuestas por caricaturas dibujadas) que se complementan con textos. Es un producto cultural
            que busca persuadir a grandes públicos y posee sus códigos propios. El cómic o historieta (nombre que se le
            da en México) es un producto sociolingüístico. La historieta es un sistema semiótico, que tiene una
            denotación (habla e imagen) y una connotación. La función ideológica de este medio ha sido poco analizada,
            pero el trabajo hasta ahora nos permite afirmar que el cómic es un aparato ideológico.</p>
        <p class="card-text"><small class="text-muted">fuente:
                https://aleesota.wordpress.com/2015/09/29/el-comic-que-es-sus-caracteristicas-elementos-y-relacion-con-la-ideologia/</small>
        </p>
    </div>
    <img src="assets/imagenes/img/About_picture.webp" class="card-img-bottom mt-3 mb-5" alt="...">
</div>