<div class="card">
    <div class="card-body container">

        <div class="container">
            <div class="row gx-30 ">

                <div class="col-md-6 ">
                    <div class="card card__persona mb-3" style="max-width: 540px;">
                        <div class="row  align-items-center">
                            <div class="col-md-4">
                                <img src="assets/imagenes/img/icono_mujer.png" class="img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Gabriela Medina Cuellar</h5>
                                    <p class="card-text"><small class="text-muted">ID: 259665</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 ">
                    <div class="card mb-3 card__persona" style="max-width: 540px;">
                        <div class="row  align-items-center">
                            <div class="col-md-4">
                                <img src="assets/imagenes/img/icono_hombre.png" class="img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Brian Obed Perez Hernandez </h5>
                                    <p class="card-text"><small class="text-muted">ID: 184066</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row gx-30 ">

                <div class="col-md-6">
                    <div class="card mb-3  card__persona" style="max-width: 540px;">
                        <div class="row  align-items-center">
                            <div class="col-md-4">
                                <img src="assets/imagenes/img/icono_hombre.png" class="img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Sebastián Moreno Méndez</h5>
                                    <p class="card-text"><small class="text-muted">ID: 272480</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="card mb-3 card__persona" style="max-width: 540px;">
                        <div class="row  align-items-center">
                            <div class="col-md-4">
                                <img src="assets/imagenes/img/icono_mujer.png" class="img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Fatima Jacqueline Caldera Macías</h5>
                                    <p class="card-text"><small class="text-muted">ID: 212320</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>